<?xml version="1.0"?>


<robot name="tree" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.14" />

  <link name="world"></link>

    <link name='tree_base'>
      
      <inertial>
        <mass value="50" />
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia
          ixx="6.71747915" ixy="0.00002148" ixz="-0.00000024"
          iyx="0.00002148" iyy="6.71747915" iyz="-0.17180670"
          izx="-0.00000024" izy="0" izz="6.71747915"/>
      </inertial>
            
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://uav_frontier_exploration_3d/models/tree/meshes/tree_25k_mesh.dae" scale="0.4 0.4 0.6" />
        </geometry>
      </visual>

      <collision name='collision'>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://uav_frontier_exploration_3d/models/tree/meshes/tree_25k_mesh.dae" scale="0.4 0.4 0.6" />
        </geometry>
      </collision>
    </link>

    <joint name="joint_tree_base" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="tree_base"/>
    </joint>

  <gazebo reference="tree_base">
    <material>Gazebo/Yellow</material>
  </gazebo>
  <gazebo>
    <static>true</static>
  </gazebo>
   
</robot>