<launch>
  <arg name="namespace" default="$(env UAV_NAMESPACE)" />
  <arg name="slam_ns" default="slam"/>
  <arg name="use_sim_time" default="true"/>

  <arg name="configuration_directory" default="$(find uav_frontier_exploration_3d)/config"/>
  <arg name="configuration_basename" default ="exploration.lua"/>

  <include file="$(find uav_frontier_exploration_3d)/launch/robot_state_publisher.launch">
    <arg name="namespace" value="$(arg slam_ns)"/>
  </include>

  <group ns="$(arg slam_ns)">	
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -start_trajectory_with_default_topics=false
          -configuration_directory $(arg configuration_directory)
          -configuration_basename $(arg configuration_basename)"
      output="screen">

    <remap from="imu" to="/$(arg namespace)/mavros/imu/data" />
    <remap from="points2" to="/$(arg namespace)/velodyne_points" />
    <remap from="fix" to="/$(arg namespace)/mavros/global_position/global" />
    <remap from="tf_cart" to="tf" />
   </node>

    <node name="SLAM_starter" pkg="cartographer_ros" type="slam_starter.py"
        args="$(arg configuration_directory) $(arg configuration_basename)">
        <remap from="odom" to="/$(arg namespace)/mavros/global_position/local"/>
    </node>

  <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node" name="cartographer_occupancy_grid_node" />

  </group>
  
</launch>

