<!--
  Copyright 2016 The Cartographer Authors
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <arg name="namespace" default="$(env UAV_NAMESPACE)"/>
  <param name="$(arg namespace)/robot_description"
    command="$(find xacro)/xacro --inorder $(find uav_frontier_exploration_3d)/config/vlp16-imu.urdf.xacro namespace:=$(arg namespace)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" ns="$(arg namespace)"/>
</launch>
